body {
	width: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
}

body {
	background:#e9a6d8;
	font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: brown;
}

.content {
    max-width: 750px;
    margin: auto;
  }

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 750px;
}
.timer {
	display: inline-block;
	margin: 0 1rem;
}
.btn{
    color: brown;
    border: 1px;
    background: rgb(78, 247, 154);
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	/*transition: opacity 500ms;*/
	visibility: visible;
	opacity: 1;
	
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	/*transition: all 400ms ease-in-out;*/
	font-family: 'Gloria Hallelujah', cursive;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.disshow {
	visibility: hidden !important;
	opacity: 100 !important;
}
#play {
	background-color: #141214;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Gloria Hallelujah', cursive;
	color: #ffffff;
	border-radius: 5px;
}